* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    --font-color: #FFFFFF;
    --bg-color: #121214;
    --bg-link-color: #1E1E1E;
    --border-color: #888889;
    --bg-link-color-hover: #888889;
    --boreder-color-hover: #FFFFFF;
}

.light {
    --font-color: #000000;
    --bg-color: #E3E3E7;
    --bg-link-color: #D9D9D9;
    --border-color: #12121481;
    --bg-link-color-hover: #888889;
    --boreder-color-hover: #000000;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--font-color);
}

.conteiner {
    width: 100%;
    max-width: 59rem;
    text-align: center;
    padding: 1.6rem;
}

.conteiner__profile {
    margin-bottom: 2.4rem;
}

.conteiner__profile-image {
    max-width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    border: 0.30rem solid var(--font-color);
}

.conteiner__profile-user {
    font-size: 1.6rem;
    font-weight: 500;
}

.conteiner__toggle {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
}

.conteiner__toggle-btn {
    width: 3.4rem;
    height: 3.2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--font-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.conteiner__toggle-btn:hover {
    outline: 0.4rem solid var(--bg-link-color-hover);
}

#toggle {
    font-size: 2.4rem;
    color: var(--bg-color);
}

.conteiner__links {
    display: grid;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}

.conteiner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid var(--border-color);
    border-radius: 0.8rem;
    padding: 1.6rem 2.4rem;
    background-color: var(--bg-link-color);
    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.4s;
}

.conteiner__link:hover {
    border: 0.25rem solid var(--boreder-color-hover);
    background-color: var(--bg-link-color-hover);
}

.conteiner__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4.8rem;
}

.conteiner__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: var(--font-color);
    padding: 1.6rem;
    border-radius: 50%;
    transition: background 0.4s;
}

.conteiner__social-link:hover {
    background-color: var(--bg-link-color-hover);
    color: var(--bg-color);
}

.conteiner__footer-credits {
    font-size: 1.4rem;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.50rem;
}

.conteiner__footer-link {
    color: var(--border-color);
    text-decoration: underline;
}